
<div class="row">
<form [formGroup]="productForm">

    <div class="col-sm-10">
    <mat-form-field [floatLabel]="'never'">
        <mat-label>Product Name</mat-label>
        <input matInput placeholder="Product Name" [(ngModel)]="productDetail.productName" type="text" 
        formControlName="productName">
      </mat-form-field>
    </div>
    <div class="col-sm-10">
      <mat-form-field [floatLabel]="'never'">
        <mat-label>Product Description</mat-label>
        <input matInput placeholder="Description" [(ngModel)]="productDetail.description" type="text" 
        formControlName="description">
      </mat-form-field>
    </div>
    <div class="col-sm-10">
      <mat-form-field [floatLabel]="'never'">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Product Price" [(ngModel)]="productDetail.priceDetail.price" type="number" 
        formControlName="price">
      </mat-form-field>
    </div>
   <div>
      <button class="btn-cls" mat-raised-button (click)="redirectToBack()">Back</button> &nbsp;&nbsp;
      <button class="btn-cls"mat-raised-button color="primary" (click)="createUpdateProductDetail()">{{buttonName}}</button>
    </div>
</form>
</div>